body{
    padding:10px;
    background-color: #FCEADE;
}

.icon {
    max-width:10%;
}
.profilePic{
    margin-left: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.followerCount{
    display: inline
}

.profileLink
{
  display: block;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  width : 200px;
  font-size: 25px;
  margin-top:25px
}
ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #EA526F;
  width : 200px

}

li {
  float: none;
  border-right: 1px solid #ffffff;
}

li a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 28px;
  text-decoration: none;
}

a {
    text-decoration : none
}

li:last-child {
  border-right: none;
}
li a:hover {
  background-color: #FF8A5B;
}

.searchButton {
    padding: 12px;
    display: inline;
}
input[type=text] {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;

}
input[type=text]:focus {
    outline: none;
    background-color: lightgrey;
    border 3px solid #555;
}