body{
    padding:10px;
    background-color: #FCEADE;
}

.icon {
    max-width:10%;
}
.profilePic{
    margin-left: 25px;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}
.followerCount{
    display: inline
}

.profileLink
{
  display: block;
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  width : 200px;
  font-size: 25px;
  margin-top:25px
}
ul {
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #EA526F;
  width : 200px

}

li {
  float: none;
  border-right: 1px solid #ffffff;
}

li a {
  float: left;
  color: white;
  text-align: center;
  padding: 14px 28px;
  text-decoration: none;
}

a {
    text-decoration : none
}

li:last-child {
  border-right: none;
}
li a:hover {
  background-color: #FF8A5B;
}
.subscribeButton{
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #EA526F;
  width : 146px

}
.unsubscribeButton{
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: lightgrey;
  width : 164px

}
.searchButton {
    padding: 12px;
    display: inline;
}
.searchBar {
    width: 200px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 2px solid black;
    border-radius: 4px;

}
input[type=text]:focus {
    outline: none;
    background-color: lightgrey;
    border 3px solid #555;
}
input[type=password]:focus {
    outline: none;
    background-color: lightgrey;
    border 3px solid #555;
}

footer {
position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height:150px;
  background-color: #25CED1;
  color: white;
  padding: 15px;
  text-align: center;
}

.post {
  width:500px;
}

img {
    width: 100%;
}

.height {
    height: 10px;
}

/* Image-container design */
.image-container {
    max-width: 800px;
    position: relative;
    margin: auto;
}

.next {
    right: 0;
}

/* Next and previous icon design */
.previous,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    padding: 10px;
    margin-top: -25px;
}

/* caption decorate */
.captionText {
    color: #000000;
    font-size: 14px;
    position: absolute;
    padding: 12px 12px;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

/* Slider image number */
.slideNumber {
    background-color: #5574C5;
    color: white;
    border-radius: 25px;
    right: 0;
    opacity: .5;
    margin: 5px;
    width: 30px;
    height: 30px;
    text-align: center;
    font-weight: bold;
    font-size: 24px;
    position: absolute;
}

.fa {
    font-size: 32px;
}

.fa:hover {
    transform: rotate(360deg);
    transition: 1s;
    color: white;
}

.footerdot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbbbbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.5s ease;
}

.active,
.footerdot:hover {
    background-color: black;
}
.userpageButtons {
    padding: 13px 26.75px;
}
.label{
   font-size: 25px
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}
.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}
input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}
input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}
.left {
    float: left;
    padding: 20px;
}

.slideImg {
    height : 500px
}