<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
</head>

{% extends "base.html" %}
{% block content %}

{% if loggedIn == False %}
        <!--nav-->
        <ul>
            <li><a href="{{url_for('login')}}">Login</a></li>
            <li><a href="{{url_for('signup')}}">Signup</a></li>
        </ul>
    {% else %}
    <!--nav-->
            <ul>
                <li><a style="padding: 14px 20px;" href="{{url_for('userpage',username=session['username'])}}" >My Page</a></li>
                <li><a style="padding: 14px 19px;" href="{{url_for('logout')}}" >Log Out</a></li>
            </ul>
{% endif %}
<h1>Temporary Title: Replace later</h1> <!--Main title-->

<form method="post" class="w3-container">
    <input  type="text" placeholder="Search..." name="search" value="{{request.form['search']}}">
    <button class="searchButton" type="submit"><i class="fa fa-search"></i></button>
    <br>
</form>

<a class="profileLink" href="{{url_for('userpage',username=top1[1])}}">{{top1[1]}}</a>
    <img class="profilePic" src="{{ url_for('static', filename=prof1) }}">
    <h2 class="followerCount">{{top1[4]}} Followers</h2>
<a class="profileLink" href="{{url_for('userpage',username=top2[1])}}">{{top2[1]}}</a>
    <img class="profilePic" src="{{ url_for('static', filename=prof2) }}">
    <h2 class="followerCount">{{top2[4]}} Followers</h2>
<a class="profileLink" href="{{url_for('userpage',username=top3[1])}}">{{top3[1]}}</a>
    <img class="profilePic" src="{{ url_for('static', filename=prof3) }}">
    <h2 class="followerCount">{{top3[4]}} Followers</h2>

{%endblock%}