<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
</head>

{% extends "base.html" %}
{% block content %}

{% if loggedIn == False %}
        <!--nav-->
        <ul>
            <li><a href="{{url_for('login')}}">Login</a></li>
            <li><a href="{{url_for('signup')}}">Signup</a></li>
        </ul>
    {% else %}
    <!--nav, if we're logged in-->
            <ul>
                <li><a style="padding: 14px 20px;" href="{{url_for('userpage',username=session['username'])}}" >My Page</a></li>
                <li><a style="padding: 14px 19px;" href="{{url_for('logout')}}" >Log Out</a></li>
            </ul>
{% endif %}
<h1>Blubber</h1> <!--Main title-->

<!--Search Bar-->
<form method="post" class="w3-container">
    <input class="searchBar" type="text" placeholder="Search..." name="search" value="{{request.form['search']}}">
    <button class="searchButton" type="submit"><i class="fa fa-search"></i></button>
    <br>
</form>

<!--Display Top Profiles-->
<h2>Top profiles:</h2>
<a class="profileLink" href="{{url_for('userpage',username=top1[1])}}"> &nbsp;&nbsp;{{top1[1]}}</a>
    <img class="profilePic" src="{{ url_for('static', filename=prof1) }}">
    <h3 class="followerCount">{{top1[4]}} Followers</h3>
<a class="profileLink" href="{{url_for('userpage',username=top2[1])}}"> &nbsp;&nbsp;{{top2[1]}}</a>
    <img class="profilePic" src="{{ url_for('static', filename=prof2) }}">
    <h3 class="followerCount">{{top2[4]}} Followers</h3>
<a class="profileLink" href="{{url_for('userpage',username=top3[1])}}"> &nbsp;&nbsp;{{top3[1]}}</a>
    <img class="profilePic" src="{{ url_for('static', filename=prof3) }}">
    <h3 class="followerCount">{{top3[4]}} Followers</h3>


    <!-- Image container of the image slider -->
    <div class="image-container">
        <div class="slide">
            <div class="slideNumber">1</div>
            <img class="slideImg" src=
            "{{url_for('static', filename=topPost1)}}">
        </div>
        <div class="slide">
            <div class="slideNumber">2</div>
            <img class="slideImg" src=
            "{{url_for('static', filename=topPost2)}}">
        </div>
        <div class="slide">
            <div class="slideNumber">3</div>
            <img class="slideImg" src=
            "{{url_for('static', filename=topPost3)}}">
        </div>
        <!-- Next and Previous icon to change images -->
        <a class="previous" onclick="moveSlides(-1)">
            <i class="fa fa-chevron-circle-left fa-3x" ></i>
        </a>
        <a class="next" onclick="moveSlides(1)">
            <i class="fa fa-chevron-circle-right fa-3x"></i>
        </a>
    </div>
    <br>
    <!--Dots beneath the slideshow-->
    <div style="text-align:center">
        <span class="footerdot" onclick="activeSlide(1)">
        </span>
        <span class="footerdot" onclick="activeSlide(2)">
        </span>
        <span class="footerdot" onclick="activeSlide(3)">
        </span>
    </div>
<!--Slideshow Script-->
<script src="static/slideshow.js"></script>


{%endblock%}