<!DOCTYPE html>
<html lang="en">
<head>
    <title>Settings</title>
</head>

{% extends "base.html" %}
{% block content %}

{% if loggedIn == False %}
        <!--nav-->
        <ul>
            <li><a href="{{url_for('login')}}">Login</a></li>
            <li><a href="{{url_for('signup')}}">Signup</a></li>
        </ul>
    {% else %}
    <!--nav-->
            <ul>
                <li><a style="padding: 14px 20px;" href="{{url_for('userpage',username=session['username'])}}" >My Page</a></li>
                <li><a style="padding: 14px 19px;" href="{{url_for('logout')}}" >Log Out</a></li>
            </ul>


<form action="{{url_for('reload_settings')}}" method="post" enctype="multipart/form-data">
    <div class="left">
    <label for="Username" class="label">Change Account Details</label>
    <br>
    <input id="username" name="username" type="text" placeholder="Enter Your Username" >
    <br>
    <br>
    <input id="email" name="email" type="text"  placeholder="Change Email" >
    <br>
    <br>
    <input type="text" id="password" name="password" placeholder="Change Password">
    <br>
    <br>
    <label for="file" class="label">Change Profile Picture</label>
    <br>
    <input type="file" id="file" name="file" />
    <br>
    <br>
    {% if ageLock == "False" %}
        <label for="filter" class="label">Content Filter</label>
        <br>
        <!-- Rounded switch -->
        {% if prechecked == "True" %}
            <label class="switch">
                <input type="checkbox" id="filter" name="filter" checked>
                <span class="slider"></span>
            </label>
        {% endif %}
        {% if prechecked == "False" %}
            <label class="switch">
                <input type="checkbox" id="filter" name="filter">
                <span class="slider"></span>
            </label>
        {% endif %}
    <br>
    <br>
    {% endif %}
    <label for="privacy" class="label">Change Privacy Setting</label>
    {% if privacy == "Public" %}
    <select name="privacy" id="privacy">
      <option selected value="Public">Public</option>
      <option value="Private">Private</option>
    </select>
    {% endif %}
    {% if privacy == "Private" %}
    <select name="privacy" id="privacy">
      <option value="Public">Public</option>
      <option selected value="Private">Private</option>
    </select>
    {% endif %}
    <br>
    <br>
    </div>
    <div style="padding: 20px;">
        <label for="bio" class="label" >Bio</label>
        <br>
        <textarea style="resize: none" id="bio" name="bio" rows="8" cols="25" placeholder="This is a bio!"></textarea>
        <br>
        <br>
        <input type="submit" class="btn" value="Save Changes">

    </div>


</form>

<script src="static/getimage.js"></script>
{% endif %}
{%endblock%}