<!DOCTYPE html>
<html lang="en">
<head>
    <title>Signup</title>
</head>
{% extends "base.html" %}
{% block content %}

<!--Sign up UI-->
<div align="center">
  <div align="center" class="border">
     <div class="header">
        <h1 class="word">Register</h1>
     </div></br></br></br>
    <h2 class="word">
        <form action="{{ url_for('signup') }}" method="post">
          <div class="msg">{{ msg }}</div>
            <label for="username">Please enter your Username</label>
            <br>
            <input id="username" name="username" type="text" placeholder="Username..." class="textbox"/></br></br>
            <label for="username">Please enter your Password</label>
            <br>
            <input id="password" name="password" type="password" placeholder="Password..." class="textbox"/></br></br>
           <label for="username">Please enter your Email</label>
            <br>
            <input id="email" name="email" type="text" placeholder="Email" class="textbox"/></br></br>
            <label for="username">Please enter your Birthday</label>
            <br>
            <input id="bday" name="bday" type="date" class="textbox"/></br></br>
            <input type="submit" class="btn" value="Sign Up"></br>
        </form>
    </h2>
    <p class="bottom">Already have an account?  <a class="bottom" href="{{url_for('login')}}"> Sign In here</a></p>
  </div>
</div>


{% endblock %}