<!DOCTYPE html>
<html lang="en">
<head>
    <title>Home</title>
</head>

{% extends "base.html" %}
{% block content %}
{% if loggedIn == False %}
        <!--nav-->
        <ul>
            <li><a href="{{url_for('login')}}">Login</a></li>
            <li><a href="{{url_for('signup')}}">Signup</a></li>
        </ul>
    {% else %}
    <!--Nav-->
        {% if loggedInUser == username %}
        <ul>
            <li><a style="padding: 14px 20px;" href="{{url_for('userpage',username=session['username'])}}" >My Page</a></li>
            <li><a style="padding: 14px 19px;" href="{{url_for('logout')}}" >Log Out</a></li>
        </ul>
        <div>
            <a style="float: left; font-size: 30px; display: inline; padding-left: 12px; padding-right: 12px;" href="{{url_for('settings')}}"><i class="fa fa-gear"></i></a>
            <li style="list-style-type: none; padding: 0; overflow: hidden; background-color: #EA526F; width : 150px">
                <a class="" href="{{url_for('add_post')}}" style="width:150px">Post</a>
            </li>
        </div>




        {%else%}
            {% if subscribed == False %}
            <ul class="subscribeButton">
                <li><a href="{{url_for('subscribe', username=username)}}" >Subscribe <i class="fa fa-star"></i></a></li>
            </ul>
            {%else%}
                <ul class="unsubscribeButton">
                <li><a href="{{url_for('unsubscribe', username=username)}}" >Unsubscribe <i class="fa fa-star"></i></a></li>
            </ul>
            {%endif%}
        {%endif%}
{% endif %}
    <div class="left" >

        <h2>{{username}}</h2>
        <img class="profilePic" src="{{ url_for('static', filename=profile_picture) }}">
        <h2 class="followerCount">My Followers: {{followerCount}} </h2>
        <p style="width:325px; margin-left: 25px">{{bio}}</p>
    </div>
        {% for i in range (0, len)%}
<h1>{{username}}'s Latest Posts</h1>
        <div class="post" style="display: inline-block;">
            <h3 style="padding:10px">{{title[i][0]}}</h3>
            <a href="{{url_for('postpage',username=username,postname=title[i][0])}}"><img src="{{url_for('static',filename=post[i])}}"></a>
            <p style="padding:10px">{{desc[i][0]}}</p>
            <form action="{{url_for('like_post')}}" method="post">
                <input type="submit" style="margin:10px" value="Like"><i class="fa fa-heart"></i> {{likes[i][0]}}
                <input name="user" class="hidden" type="text" value="{{loggedInUser}}">
                <input name="post" class="hidden" type="text" value="{{title[i][0]}}">
                <input name="returnpage" class="hidden" type="text" value="{{username}}">
                <input name="endpoint" class="hidden" type="text" value="userpage">
                <br>
                <br>
            </form>
        </div>
    {% endfor %}




{%endblock%}